@{
    ViewData["Title"] = "Home Page";
} 
@model IEnumerable<VetApp.Models.Pet>
<div class="container">
    <div class="row">
        @foreach (var pet in Model)
        {
            @if (!pet.IsTaken || User.IsInRole("Admin"))
            {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@pet.ImageUrl" alt="Pet Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@pet.Name</h5>
                        <p class="card-text">@pet.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Data urodzenia @pet.DateOfBirth</small>
                            <small class="text-muted">Rasa @pet.Breed</small>
                            @if (pet.IsTaken && User.IsInRole("Admin"))
                            {
                                <span style="color:red" class="badge badge-info">Zajęty</span>
                            }
                        </div>
                        @if (!User.IsInRole("Taken"))
                        {
                            <button>
                                <a asp-action="Reserve" asp-route-petId="@pet.Id">Rezerwacje</a>
                            </button>
                        }
                            @if (User.IsInRole("Admin"))
                            {
                              <button>
                                <a asp-action="Reserve" asp-route-petId="@pet.Id">X</a>
                              </button>
                            }
                    </div>
                </div>
            </div>
            }
        }
    </div>
</div>
